@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Griffy&display=swap");

$blue: #00bbf9;
$salmon: #e6b89c;
$black: #011627;
$white: #ffffff;

$ff-pri: "Montserrat", sans-serif;
$ff-sec-one: "Lobster", sans-serif;
$ff-sec-two: "Griffy", sans-serif;

$Font-size: 100%;

$fs-xxs: 0.4275rem;
$fs-xs: 0.5rem;
$fs-s: 0.7rem;
$fs-m: 0.825rem;
$fs-l: 1rem;
$fs-xl: 1.25rem;
$fs-xxl: 2.25rem;
$fs-xxxl: 3.75rem;

$fw-main: 400;
$fw-bold: 500;
$fw-dark: 600;
$fw-darker: 900;
